<!DOCTYPE html>
<html>
    <body>
        <center>
            <h1>London Weather</h1>

            <table border="0">
                <tr>
                    <td>Data created on</td>
                    <td>{{.ForecastLongTerm.RegionalFcst.CreatedOn}}</td>
                </tr>
                <tr>
                    <td>Data issued at</td>
                    <td>{{.ForecastLongTerm.RegionalFcst.IssuedAt}}</td>
                </tr>
            </table>

            <table border="0">
                <tbody>
                {{with .ForecastLongTerm.RegionalFcst.FcstPeriods.Period}}
                    {{range .}}
                        <tr>
                            <td>
                                <table border="0">
                                    <tbody>
                                        {{with .Paragraph}}
                                            {{range .}}
                                                <tr>
                                                    <td>{{.Title}}</td>
                                                    <td>{{.Text}}</td>
                                                </tr>
                                            {{end}}
                                        {{end}}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    {{end}}
                {{end}}
                </tbody>
            </table>

        </center>
    </body>
</html>